/*Content*/
.img-tamaño{
    width: 22%;
    height: 22%;
}

.style-img1{
    border-right: 1px solid black; 
}

.imformation-container{
    padding-top: 6%;
}

@media screen and (max-width: 768px){
    .img-tamaño{
        width: auto;
        height: auto;
    }
    
    .imformation-container{
        padding-top: 6%;
    }
}

.style-img2{
    border-left: 1px solid black; 
}

/*Carousel*/
.padd-container{
    padding-top: 3%;
    padding-bottom: 1%;
}

.carousel-container{
    padding-bottom: 2%;
    background-color: #252525;
    display: flex;
    justify-content: center;
}

.carousel-tamaño{
    width: 70%;
    height: 70%;
}

.boton-padd{
    padding-top: 140%;
}

.title-container{
    background-color: #252525;
    color: #fff;
}
