nav a {
    color: #000;
}

nav li {
    color: #000;
}

#caja1 {
    background-image: url(../Imgs/Hospital.png);
    background-size: cover;
    background-position: 50%;
    height: 70vh;
    box-shadow: 70vh 70vw #00000080 inset;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: #fff;
}

#caja2 {
    padding: 5vh;
}

.card {
    transition: 0.5s;
    margin: 3vh;
}

.card:hover {
    background-color: #c4c4c480;
    transition: background-color 0.5s;
    transform: scale(1.1);
    transition: 0.5s;
}

.row {
    margin-left: 0%;
}

footer a {
    color: #fff;
    text-decoration: none;
  }
  
footer a:hover {
    color: #a4a4a4;
    text-decoration: underline;
  }
